/* modified version of 'desert' made by mikesamuel */
/* https://github.com/google/code-prettify/blob/master/styles/desert.css */
/* desert scheme ported from vim to google prettify */
pre.prettyprint { 
    display: block; 
    background-color: 
    #F8F8F8;
    border: none !important;
    border-radius: 5px;
    padding: 1em 2em !important; 
    font-family: monospace;
}
/*pre .nocode { background-color: none; color: #000000 }*/
pre .str { color: #DF0000 } /* string  - pink */
pre .kwd { color: #21A300; font-weight: bold }
pre .com { color: #8A8A8A } /* comment - skyblue */
pre .typ { color: #0083FD } /* type    - lightgreen */
pre .lit { color: #F19D00 } /* literal - darkred */
pre .pun { color: #000000 }    /* punctuation */
pre .pln { color: #000000 }    /* plaintext */
pre .tag { color: rgb(114, 0, 124); font-weight: bold } /* html/xml tag    - lightyellow */
pre .atn { color: #C0B21C; font-weight: bold } /* attribute name  - khaki */
pre .atv { color: #FF9900 } /* attribute value - pink */
pre .dec { color: #00B400 } /* decimal         - lightgreen */

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none; }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }

@media print {
  pre.prettyprint { background-color: none }
  pre .str, code .str { color: #060 }
  pre .kwd, code .kwd { color: #006; font-weight: bold }
  pre .com, code .com { color: #600; font-style: italic }
  pre .typ, code .typ { color: #404; font-weight: bold }
  pre .lit, code .lit { color: #044 }
  pre .pun, code .pun { color: #440 }
  pre .pln, code .pln { color: #000 }
  pre .tag, code .tag { color: #006; font-weight: bold }
  pre .atn, code .atn { color: #404 }
  pre .atv, code .atv { color: #060 }
}