* {
    box-sizing: border-box;
   /* font-family: 'Nuninto Sans', sans-serif;*/
    position: relative;
    margin: 0;
}
body {
    font-family: 'Nuninto Sans', sans-serif;
    background-color: #E2E2E2;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 0px 5px;
    /* border: 1px solid red; */
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .text-content{max-width: 1000px;}
    .card_wrapper{padding:10px 15px 20px !important;}
    .icon-holder{
        text-align: right;
        border: none !important;
        padding-right: 40px;
    }
    .contact-info{padding-left:40px}
}

header {
    padding: 10em 3em 0.7em;
    background-color: #00b300;
    /*box-shadow: 5px 5px 5px grey;*/
    text-shadow: 0px 1px 5px #272727;
    color: #ffffff;
    display: block;
    background-size: cover;
    background-position: center; 
}

article {
    background-color: #FFFFFF;
}

footer {
    /* border: 1px dashed #B4B4B4; */
    overflow: hidden;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.icon-holder {padding-bottom: 5px;border-left: 1px solid #979797;}
.icon-holder a {
    text-decoration: none;
    color: #444444;
}
.contact-info {
    border-left: 1px solid #979797;
    color: #5E5E5E;
    font-style: italic;
    font-weight: 1px;
}
.contact-info a {
    text-decoration: none;
    color: #5E5E5E;
    
}
.maths {
    background-color: #FFF8DC;
    width:100%;
    overflow: scroll;
}
